.card {
  max-width: 364px;
  background-color: #222;
  border-radius: 6px;
  overflow: hidden;
}

.card:hover {
  cursor: pointer;
}

.card__link {
  
}

.card__image {
  width: 364px;
  height: 203px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.card__info {
  margin: 16px;
  display: grid;
  grid-template-columns: repeat(2, minmax(max-content, min-content));
  column-gap: 12px;
  row-gap: 17px;
  justify-content: space-between;
  align-items: flex-start;

}

.card__title {
  max-width: 290px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.21;
  color: #fff;
  margin: 0;
  text-align: center;
  align-self: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like {
  padding: 7px;
  background-image: url(../../images/like.svg);
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: center;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  max-width: 30px;
}

.card__delete {
  padding: 7px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  max-width: 30px;
}

.card:hover .card__delete {
  background-image: url(../../images/delete.svg);
  background-repeat: no-repeat;
  background-size: 7px;
  background-position: center;
}

.card__time {
  font-size: 11px;
  font-weight: 400;
  line-height: 1.21;
  color: #8B8B8B;
  padding: 0;
  margin: 0;
}

.card-like-active {
  background-image: url(../../images/active-like.svg);
}

@media (max-width: 800px) {
  .card {
    max-width: 339px;
  }

  .card__image {
    width: 339px;
    height: 190px;

  }

  .card__info {
    margin: 14px;
    column-gap: 21px;
    row-gap: 15px;
  }

  .card__title {
    max-width: 260px;
  }
}

@media (max-width: 750px) {
  .card {
    max-width: 300px;
  }

  .card__image {
    width: 300px;
    height: 168px;
  }

  .card__title {
    max-width: 240px;
  }

  .card__time {
    font-size: 10px;
  }

  .card__info {
    column-gap: 6px;
    row-gap: 14px;
  }
}