.button-more {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-more__button {
  text-align: center;
  color: #fff;
  margin: 50px 0 80px;
  min-width: 320px;
  min-height: 36px;
  font-size: 12px;
  line-height: 1.21;
  font-weight: 500;
  background-color: #202020;
  border-radius: 6px;
  border: 1px solid #424242;
}