.search {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr minmax(min-content, max-content);
  column-gap: 20px;
  align-items: center;
  position: relative;
}

.search__input {
  min-width: 100%;
  min-height: 50px;
  padding: 0 20px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
}

.search__error {
  font-size: 13px;
  line-height: 1.21;
  font-weight: 400;
  top: 55px;
  min-width: 100%;
  text-align: center;
}

.search__button {
  border: none;
  border-radius: 8px;
  background-color: #4285F4;
  background-image: url(../../images/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 22px;
  max-height: 44px;
}

@media (max-width: 800px) {
  .search {
    column-gap: 10px;
  }
}

@media (max-width: 500px) {
  .search__input {
    min-height: 44px;
  }
}